CubismSdkForWeb-5-r.5/
hiyori_pro_en/
.git/
.gitignore
.gitbackup
.git_backup
.env
*.md
!README.md

bulid/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.o
*.obj
*.so
!lib/libhiredis.so.1.3.0
*.dylib
*.dll
*.a
*.lib

.vscode/
.idea/
*.user
*.pro.user

*.log
*.tmp

*_autogen/
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
timestamp

venv/
__pycache__/
*.pyc
.pytest_cache/
.checkpoints/
*.py[cod]
*$py.class

node_modules/
npm-debug.log

test/
xmind/
qt-material-widgets/
