# 编译产生的中间文件
*.o
*.obj
*.moc
*.ui

# 编译生成的可执行文件（根据你的项目名修改，或者忽略 Debug/Release 目录）
debug/
release/
build/
*.exe

# Qt 自动生成的 Makefiles (如果是 qmake 项目)
Makefile*

# Qt Creator 的临时文件
*.user

# CMake 编译产生的垃圾
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
install_manifest.txt

# 编译输出目录
bin/
lib/
build/
bulid/

# IDE 产生的垃圾
.vscode/
.idea/
*.user


